// |--------------------------------------------------------------------------
// | Misc
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

a.fa {
  .text-content & {
    &,
    &:hover,
    &:focus {
      transition: none;
      color: #2494db;
      text-decoration: none;
      box-shadow: none;
    }
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Print
@media print {}

// Touch
.touchevents {}

// No touch
.no-touchevents {}
